p{
  font-size:18px;
  font-weight: 300;
}

.title{
  font-size: 24px;
  font-weight: lighter;
}

.faux5{
  font-size: 24px;
  font-weight: 400;
}

.stark{
  background-color: #E7DFDD;
}

.ink{
  background-color: #062F4F;
}

.embers{
  color: #B82601;
}

.gunmetal{
  background-color: #233237;
}

.rusty-red{
  background-color: #984B43;
}

.warm-yellow{
  color: #EAC67A;
}
