/* resets */
.card {
  background: inherit;
  border: none;
  box-shadow: none;
}

a, button {
  border: none;
  background: inherit;
  padding: 0;
}
/* end resets */

button {
  border: 1px solid #233237;
  padding: 10px;
  background: #233237;
  color: #EAC67A;
}

button:hover, button:focus {
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px #EAC67A;
}

img {
  width: 100%;
  height: auto;
}

p{
  font-size:18px;
  font-weight: 300;
}

.card p {
  font-size: 16px;
}

.title{
  font-size: 20px;
  font-weight: 300;
}

h3{
  font-size: 20px;
  font-weight: 500;
  display: inline;
}

.item {
  margin-bottom: 10px;
}

.stark{
  background-color: #E7DFDD;
}

.ink{
  background-color: #062F4F;
}

.embers{
  color: #B82601;
}

.gunmetal{
  background-color: #233237;
}

.rusty-red{
  background-color: #984B43;
}

.warm-yellow{
  color: #EAC67A;
}
